@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);

@font-face {
  font-family: "Outfit";
  src: local("Outfit"), url(/static/fonts/Outfit-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Outfit";
  src: local("Outfit"), url(/static/fonts/Outfit-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit";
  src: local("Outfit"), url(/static/fonts/Outfit-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Outfit";
  src: local("Outfit"), url(/static/fonts/Outfit-SemiBold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Outfit";
  src: local("Outfit"), url(/static/fonts/Outfit-Bold.woff2) format("woff2");
  font-weight: 700;
}

main {
  overflow-x: hidden;
}

.popup-modal {
  transition: height 0.8s cubic-bezier(1, 0, 0, 1) 0ms;
}

.modal-active {
  height: 100vh;
}

.trailerVid {
  transition: transform 0.8s cubic-bezier(1, 0, 0, 1) 0ms;
}

@media (min-width: 1280px) {
  .hero-hidden {
    transform: translateY(-100%);
  }
  .sliderArrSelector {
    right: 4rem;
  }
}

@media (max-width: 1279px) {
  .hero-hidden {
    transform: translateY(0);
  }
  .sliderArrSelector {
    left: 4rem;
  }
}

.heroImg {
  transition: opacity 0.8s cubic-bezier(1, 0, 0, 1) 0.8ms;
}

.hero-img-hidden {
  opacity: 0;
}

.realHidden {
  display: none;
}

.PauseIcon,
.PlayIcon {
  color: inherit;
  fill: none;
  height: 1.5em;
  width: 1.5em;
  stroke-width: 1px;
  stroke: currentColor;
}

.activeSlider {
  display: flex !important;
}

.no-overflow {
  overflow: hidden !important;
}

.iframeSec {
  overflow: hidden;
}

.underline-stable:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  height: 1px;
  @apply bg-black/40 dark:bg-white/40;
}
.underline-stable:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  height: 1px;
  @apply bg-black dark:bg-white;
  transform: scaleX(0);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.underline-stable:hover:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  height: 1px;
  @apply bg-black dark:bg-white;
  transform: scaleX(1);
}

.site-col:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 100%;
  @apply outline-2 outline-dashed dark:outline-white/25 outline-black/25 z-50;
}

.underline-stable {
  position: relative;
  cursor: pointer;
}

* {
  user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
